/* boxes.less */

@box-border: mix(@lightest, @mid-light, 70);

#boxes {
	padding: 0;
	margin: 0 auto;
	.clearfix();
	
	article {
		margin: 0 0 @common-padding - @headerbar-height;
		padding-top: @headerbar-height;
		cursor: pointer;
		cursor: zoom-in;
		.transition(~"background-color 0.2s ease-out, box-shadow 0.2s ease-out");

		&.active {
			header {
				background: mix(@light, @yellow, 80);
			}
		}

		.view-more {
			display: block;
			background: lighten(@lightest, 5%);
			border: 1px solid @box-border;
			margin: 1em auto 0;
			padding: 1ex;
			border-radius: 8px;
			text-align: center;
			width: 50%;
			min-width: 280px;
			color: @mid-dark;
			font-weight: bold;
		}
		&.grid-sizer:after {
			content: none;
		}

		.fullcontent {
			display: none;
		}

		// These two work as long as it's always a p preceding the break, or last in the box... not very foolproof
		&>p:last-of-type:after {
			content: " [...]";
		}
		&>p:nth-last-child(2):after {
			content: none;
		}
	}

	@media screen and (min-width: @main-responsive-breakpoint) {
		padding-top: @common-padding * 2;
		max-width: calc(~"100% - " @common-padding*2);

		article {
			float: left;
			.box-shadow(0.15ex, 0.15ex, 1ex, 0, rgba(0,0,0,0));
			background: lighten(@lightest, 5%);
			border: 1px solid @box-border;
			padding-top: 0;
			padding-bottom: @common-padding / 2;
			margin: 0 0 @common-padding;

			&:hover {
				.box-shadow(0.15ex, 0.15ex, 1ex, 0, rgba(0,0,0,0.2));
			}

			&.active {
				.box-shadow(0.15ex, 0.15ex, 1ex, 0, rgba(0,0,0,0.2));
				background: @lightest;

				header {
					background: transparent;
				}
			}

			.view-more {
				display: none;
			}
		}

		&.nojs article {
			margin-right: @common-padding;
			cursor: default;

			.view-more {
				display: block;
			}
		}
	}

	@media screen and (max-width: (@main-responsive-breakpoint - 1)){
		article {
			position: static !important;

			.view-more {
				display: block;
			}
		}
	}
}

#boxes article, #modal-window {
	header {
		color: @mid-dark;
		border-bottom: 1px solid @box-border;
		text-align: center;
		padding: @common-padding / 4 @common-padding;
		background: @box-border;
		line-height: @lineheight;

		h2 {
			margin: 0;
		}
	}

	p, ul, ol {
		margin: @common-padding/2 @common-padding;

		li {
			list-style: disc outside;
		}
	}
	ul, ol {
		margin-left: 0;
	}

	h3, h4, h5, h6 {
		margin: @common-padding @common-padding @common-padding/-4;
	}

	@media screen and (min-width: @main-responsive-breakpoint) {
		header {
			background: transparent;
		}
	}
}


// ##### GRID STYLES FOR VARIOUS SCREEN SIZES #####
// Also known as: box widths.
// Note that unless calc() is supported, boxes will all be 360px, which is fine.
// Note also that the 970-1369 width is last. This is for the ieize-css script, which makes old IE use the last media query.
#boxes article {
	@gutter : @common-padding;
	width: 100%;
	.box-sizing(border-box);

	// 2 base-boxes + 1 gutter
	@media screen and (min-width: @main-responsive-breakpoint) {
		width: 360px;
		width: calc(100%/2 ~" - " @gutter/2); // 50% minus half of a between-boxes-margin 

		&.col-2, &.col-3 {
			width: 360px * 2 + @gutter;
			width: calc(100%);
		}
	}

	// 4 base-boxes + 3 gutter
	@media screen and (min-width: 1370px) {
		width: calc(100%/4 ~" - " @gutter*3/4);

		&.col-2 {
			width: calc(100%*2/4 ~" - " @gutter*2/4);
		}
		&.col-3 {
			width: calc(100%*3/4 ~" - " @gutter/4);
		}
	}

	// 5 base-boxes + 4 gutter
	@media screen and (min-width: 1790px) {
		width: calc(100%/5 ~" - " @gutter*4/5);

		&.col-2 {
			width: calc(100%*2/5 ~" - " @gutter*3/5);
		}
		&.col-3 {
			width: calc(100%*3/5 ~" - " @gutter*2/5);
		}
	}

	// Free number of boxes at 360px each, left-aligned.
	@media screen and (min-width: 2300px) {
		width: 360px;

		&.col-2 {
			width: 360px * 2 + @gutter;
		}
		&.col-3 {
			width: 360px * 3 + @gutter*2;
		}
	}

	// 3 base-boxes + 2 gutter
	@media screen and (min-width: 970px) and (max-width: 1369px) {
		width: calc(100%/3 ~" - " @gutter*2/3);

		&.col-2 {
			width: calc(100%*2/3 ~" - " @gutter/3); // Long form, i.e. "two boxes + 1 gutter": (100%/3 - g*2/3)*2 + g
		}
		&.col-3 {
			width: 360px * 3 + @gutter*2;
			width: calc(100%);
		}
	}
}