/* headers.less */

body {
	width: 100%;
	overflow-x: hidden;
	padding-top: @headerbar-height * 1.5;
	padding-bottom: @common-padding * 3;
	background-color: lighten(@lightest, 2%);
	background-attachment: fixed;

	@media screen and (min-width: @main-responsive-breakpoint){
		padding-top: @headerbar-height + @header-spacing;
		.gradient(lighten(@lightest, 5%), lighten(@mid-light, 30%));
		min-height: 100vh;
		.box-sizing(border-box);
	}
}

#mailconfirm {
	z-index: 1000;
    position: absolute;
    top: 8px;
    left: 5px;
    background: mix(@green, @light, 40);
    padding: 10px 12px 10px 20px;
    .box-shadow(3px, 3px, 5px, 0, fade(@dark, 40%));
    border-radius: 10px;
    line-height: 1.4;

    .close {
		margin-left: 0.3em;
		vertical-align: bottom;
		border-bottom: 0!important;
		line-height: 0.8;
		position: relative;
		top: -0.15ex;
    }

    @media screen and (min-width: @main-responsive-breakpoint) {
    	top: 40px;
    }
}

.tip-bubble {
	@color: @light;

	position: absolute; 
	top: @headerbar-height;
	left: @common-padding / 2;
	background-color: @color;
	box-shadow: 0 0 10px @mid-dark;
	color: @mid-dark;
	white-space: nowrap;
	font-size: 0.85em;
	padding: 3px 6px;
	border-radius: 5px;
	margin-top: 6px;
	font-weight: bold;
	.transition-lazy();

	@media screen and (max-width: @main-responsive-breakpoint) { // Will affect really old IEs as well, but that's okay
		display: none !important;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom-color: @color;
		border-left-color: @color;
		top: -12px;
		left: 20px;
		z-index: 3;
		
		/* IE8 down: hide */
		display:none\9;
	}

	&.bubble-left {
		// Default
	}
	&.bubble-right {
		left: auto;
		right: @common-padding;

		&:before {
			border-left-color: transparent;
			border-right-color: @color;
			left: auto;
			right: 20px;
		}
	}
}

#headerbar {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: @headerbar-height;
	background-color: @darkest;
	color: @lightest;
	line-height: @headerbar-height;
	z-index: 100;
	padding: 0;

	#headerbar-title {
		margin: 0;
		text-align: center;
		position: relative;
		z-index: 10;
		margin: 0 40px;
	}

	&>nav {
		line-height: @lineheight;
		position: absolute;
		top: 0;
		min-height: 0;
		min-width: @common-padding + @headerbar-height;
		max-width: 80%;
		width: 80%;
		padding: @headerbar-height 0 0;
		font-size: 1.3em;

		&:before, &:after {
			position: absolute;
			top: @headerbar-height / 2 - 8; // Magic number
			cursor: pointer;
		}

		&>ul {
			margin: 0;
			padding: 0 0 @common-padding / 2;
			background-color: @darkest;
			max-height: calc(~"100vh - 50px"); // Doesn't matter if old browsers don't support - this is mainly for mobile and degrades okay
			overflow: auto;
			.box-sizing(border-box); // Ignored in IE<=7 but that's fine; max-height isn't relevant anyway since it doesn't support calc
			width: 125%; // 100% out of 80%

			li {
				list-style: none;
				font-variant-caps: petite-caps;

				a {
					display: block;
					border-bottom: 0 none !important;
					padding: @common-padding / 6 @common-padding - 8;
					background-color: @darkest;
					.transition-lazy();
					.ellipsis();
				}
				a:link, a:visited {
					color: @light;
				}
				a:hover, a:active {
					color: @red;
					background-color: mix(@darkest, @mid-dark);
				}
				a:active {
					background-color: mix(@dark, @red, 85);
				}
			}
		}
	}

	#headerbar-menu {
		left: 0;
		text-align: left;
		display: none; // No-js default!
		
		// List/menu icon
		&:before {
			font-size: 1.5em;
			content: '';
			left: @common-padding;
			width: 0.65em;
			height: 0.125em;
			border-top: 0.375em double @lightest;
			border-bottom: 0.125em solid @lightest;
		}
		&:after {
			font-size: 1.5em;
			content: '';
			left: @common-padding - 8;
			width: 0.15em;
			height: 0.125em;
			border-top: 0.375em double @lightest;
			border-bottom: 0.125em solid @lightest;
		}
	}

	#headerbar-languages {
		right: 0;
		text-align: right;

		&:before {
			content: url('../img/flaggor.png');
			right: @common-padding - 8;
			.opacity(80);
			top: @headerbar-height / 2 - 10;
		}

		&>ul {
			margin-left: -25%; // of the parent!
		}

		.tip-bubble {
			display: none;
		}
	}

	@media screen and (min-width: @small-responsive-breakpoint) {
		#headerbar-title {
			margin: 0 @headerbar-height*1.2;
		}

		&>nav {
			width: auto;
			font-size: 1.05em;

			&>ul {
				width: auto;

				li a {
					padding: @common-padding / 6 @common-padding;
				}
			}
		}

		#headerbar-menu { 
			&:before {
				left: @common-padding + 8; // Magic number
			}
			&:after {
				left: @common-padding;
			}
		}

		#headerbar-languages:before {
			right: @common-padding;

			&>ul {
				margin-left: 0;
			}
		}
	}

	@media screen and (min-width: @main-responsive-breakpoint) {
		#headerbar-languages .tip-bubble {
			display: none; // No-js default!
		}
	}
}

#banner {
	position: relative;
	font-weight: bold;
	color: @green;
	font-size: 1.1em;
	background-color: rgb(15, 23, 25);
	background-repeat: no-repeat;
	background-position: 90% 0%;
	-webkit-background-size: 220%;
	-moz-background-size: 220%;
	-o-background-size: 220%;
	background-size: 220%;
	padding-top: 220% * 0.4; // Background-image is 10:4. Background-size is 220%.

	#banner-slideshow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 0;
		padding-top: 220% * 0.4; // See above
		margin: 0;
		display: none;

		li {
			display: block;
			list-style: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: 90% 0%;
			-webkit-background-size: 220%;
			-moz-background-size: 220%;
			-o-background-size: 220%;
			background-size: 220%;
			
			// The following works, but is pretty graphics-heavy. Leaving it out for now ...
			/*@animation-delay: 6s;
			@num-slides: 6;

			opacity: 0;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-animation: imageAnimation @animation-delay * @num-slides linear infinite 0s;
			-moz-animation: imageAnimation @animation-delay * @num-slides linear infinite 0s;
			animation: imageAnimation @animation-delay * @num-slides linear infinite 0s;

			.slides-loop(@counter) when (@counter > 1) { // Stops at 2
				.slides-loop((@counter - 1));
				&:nth-child(@{counter}) {
					-webkit-animation-delay: @animation-delay * (@counter - 1);
					-moz-animation-delay: @animation-delay * (@counter - 1);
					animation-delay: @animation-delay * (@counter - 1);
				}
			}
			.slides-loop(6);

			@keyframes imageAnimation {
				0% {
					opacity: 0;
					-webkit-animation-timing-function: ease-in;
					-moz-animation-timing-function: ease-in;
					animation-timing-function: ease-in;
				}
				10% {
					opacity: 1;
					-webkit-animation-timing-function: ease-out;
					-moz-animation-timing-function: ease-out;
					animation-timing-function: ease-out;
				}
				60% {
					opacity: 1;
				}
				70% {
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}*/
		}
	}

	#banner-list {
		margin: 1em 0 -0.3*@headerbar-height;
		padding: 0 @common-padding @common-padding / 2 @common-padding * 1.5;
		position: relative;

		li {
			margin-bottom: 0.35em;

			&.paler {
				color: mix(@green, @dark);
			}
		}
	}

	@media screen and (min-width: @main-responsive-breakpoint) {
		min-height: 27vw;
		overflow: hidden;
		color: mix(@green, @light, 60);
		padding: @common-padding;
		background-position: 60% 40%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		z-index: 0;
		-ms-behavior: url(backgroundsize.min-htc);

		#banner-slideshow {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			height: auto;
			padding: 0;

			li {
				background-position: 60% 40%;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				-ms-behavior: url(backgroundsize.min-htc);
			}
		}

		#banner-list {
			margin: 1vw 0 3vw;
			padding: 0 40% 0 1em;
			text-shadow: 0 0 .3ex rgba(15, 23, 25, .9); // Same colour as dark field on images

			li.paler {
				.green;
				.opacity(85);
				text-shadow: 0 0 .3ex rgba(15, 23, 25, 1);
			}
		}
	}

	@media screen and (min-width: 1000px) {
		font-size: 1.4em;
	}
}