/* modal.less */

#modal-window {
	position: fixed;
	top: 2%;
	left: 2%;
	top: 2vh;
	left: 2vw;
	width: 95%;
	width: 95vw;
	height: 96vh;
	background-color: @modalbg;
	border: 1px solid mix(@lightest, @mid-light, 70);
	cursor: default;
	.no-shadow() !important;
	.box-shadow(0, 0, 0, 15vmax, rgba(0, 0, 0, 0.55)) !important;
	overflow: hidden;
	display: none;
	z-index: 150;

	header {
		.close {
			float: right;
			margin-right: -12px;
			margin-left: 5px;
		}
	}

	.modal-content {
		overflow: auto;
		max-height: 100%;
		position: relative;
		.box-sizing(border-box); // Breaks in IE7. See <head> of index.php

		.preview-only, .previewonly, .preview { // Allow for preview-only content that's hidden when opened in the modal
			display: none;
		}
	}

	table {
		border-spacing: 0;
		border-collapse: collapse;
		margin: @common-padding @common-padding*2/3;

		p, h2, h3, h4, h5, ul, ol {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		tr {
			border-top: 1px solid @box-border;

			&:first-child {
				border-bottom: 0 none;
			}
		}

		tr td, tr th {
			vertical-align: top;
			text-align: left;
			padding: @common-padding/3 @common-padding/3;
		}
	}

	p:last-child, ul:last-child, ol:last-child {
		margin-bottom: 30px;
	}

	@media screen and (min-width: @main-responsive-breakpoint) {
		top: 10%;
		left: 10%;
		top: 10vh;
		left: 10vw;
		width: 80%;
		width: 80vw;
		height: 80vh;

		p, ul, ol {
			max-width: 60em;
			line-height: 1.5;
		}
		table {
			line-height: 1.5;
		}
	}
}

.close{
  color: @darkest !important;
  font-size: 1.5em;
  line-height: 1;

  &:hover, &:active {
      color: @red !important;
  }
}