/* timeline.less */

#modal-window table.timeline-table {

	tr {
		&.timeline-topic {
			border-top-color: @modalbg;

			& + tr {
				border-top-color: @modalbg;
			}

			// Colours for the different topics
			&-press td, &-press th {
				background-color: mix(@modalbg, @base1, 40) !important;
			}
			&-jur td, &-jur th {
				background-color: mix(@modalbg, #16867e, 40) !important;
			}
			&-polis td, &-polis th {
				background-color: mix(@modalbg, #4885b3, 40) !important;
			}
			&-fb td, &-fb th {
				background-color: mix(@modalbg, #3b5998, 40) !important;
			}
			&-soc td, &-soc th {
				background-color: mix(@modalbg, #fca426, 40) !important;
			}
			&-viktig td, &-viktig th {
				background-color: mix(@modalbg, #ca1d3d, 40) !important;
			}
		}
	}

	&.js-parsed {
		// Styles for when the table is made into a timeline by the js
		@bubble-distance : @common-padding * 3; // The default distance between timeline and "bubble"

		display: block;
		.clearfix();
		font-size: 0.92em;
		line-height: 1;
		overflow: hidden;
		height: 99%;
		margin: 0;

		p {
			margin-left: 0;
			margin-right: 0;
			line-height: 1.4;
		}

		tr, td, th {
			display: block;
		}

		tr {
			background: transparent;
			position: absolute; 
			bottom: auto;
			top: 0;
			width: 360px;
			max-width: 96%;
			z-index: 1;
			border: 0 none !important;
			height: 1px;

			// "Arrow" connecting dot with bubble
			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				z-index: -1;

				bottom: -49px;
				left: 28px;
				.transform(rotate(110deg));
				border: @bubble-distance * 1.1 solid transparent;
				border-left-color: @mid-dark;
				border-left-width: @bubble-distance / 10;
				border-top-width: 0;
				border-right-width: 0;
			}

			&.closed {
				z-index: 1 !important;

				td {
					display: none;
				}

				&:after {
					display: none;
				}
			}

			&:first-of-type td .prev { display: none; }
			&:last-of-type td .next { display: none; }
		}

		th {
			@dotsize : 14px;

			background: @lightest;
			position: absolute;
			left: -6px;
			min-height: @dotsize;
			min-width: @dotsize;
			max-width: @dotsize;
			margin-top: @dotsize / -2 + 2;
			border-radius: @dotsize / 2 + 1;
			overflow: hidden;
			border: 1px solid @mid-dark;
			padding: 0;
			text-indent: -999em;
			cursor: pointer;
			line-height: 0;
		}

		td {
			border: 1px solid @mid-dark !important;
			border-radius: 1ex;
			position: absolute;
			bottom: auto;
			top: 0;
			width: 360px;
			background: @lightest;
			overflow: auto;
			left: @bubble-distance * 0.7;

			// This is iffy on support, BUT mostly needed on very small screens, i.e. usually mobile browsers, i.e. REASONABLY recent engines
			max-width: calc(~"100% - " @bubble-distance * 0.7);

			@media screen and (min-width: @small-responsive-breakpoint) {
				left: @bubble-distance;
				max-width: calc(~"100% - " @bubble-distance);
			}

			&.offset-bottom {
				.transform(~"translateY(-60%)");
			}

			&>h3 {
				border-bottom: 1px solid @mid-dark;
				padding: 0 @common-padding/3 @common-padding/3;
				margin: 0 -1 * @common-padding/3;
				border-left: 0;
				text-transform: none;
				font-variant-caps: normal;

				.close {
					float: right;
					border-bottom: 0 none !important;
					font-size: 1.15em;
					line-height: 0.85;
				}
			}

			p:first-of-type {
				margin-top: 5px;
			}

			.prev, .next {
				border-bottom: 0 none !important;
				color: @darkest;
			    font-size: 0.8em;
				line-height: 1.3;
				vertical-align: top;

				&:hover, &:active {
					color: @red;
				}
			}
			.prev {
				margin-right: 1ex;
				float: left;
			}
			.next {
				margin-left: 1ex;
			}
		}

		.timeline-line {
			min-height: 100%;
			position: absolute;
			left: 5px;
			border-left: 4px solid @mid-dark;
			z-index: -1;

			.year-mark {
				font-size: 3.5em;
				color: fade(@mid-dark, 40);
				position: absolute;
				padding-left: @common-padding / 4;
				line-height: 0.8;

				&:before {
					content: '';
					display: block;
					width: .5em;
					border-top: 4px solid @mid-dark;
					position: absolute;
					top: 0;
					left: -4px;
				}

				&.last-year-mark {
					top: 100%;
				}
			}

			.month-mark {
				position: absolute;
				padding-top: .4em;
				text-transform: capitalize;
				color: @mid-dark;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -4px;
					top: 0;
					width: 1em;
					border-top: 3px solid @mid-dark;
				}

				&:first-of-type {
					display: none;
				}

				&:nth-of-type(3n +1), &:nth-of-type(3n - 1) {
					color: rgba(0,0,0,0);
				}

				&>span {
					.transform(~"rotate(90deg)");
					display: block;
					height: 2em;
					width: 2em;
					left: -1em;
					position: relative;
				}
			}
		}

		// ##### Media queries... #####
		// NB putting the max-width query here WILL mess with IE<8. TODO - fix, if possible.
		@media screen and (max-width: (@timeline-breakpoint - 1)) {
			width: 100% !important;

			tr {
				left: 5px !important;
			}

			.timeline-line {
				width: 50px !important;

				.year-mark {
					left: 0 !important;
				}

				.month-mark {
					left: 4px !important;
				}
			}
		}
		@media screen and (min-width: @timeline-breakpoint) {
			height: 100% !important;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			tr {
				left: 0;
				bottom: 5px;
				top: auto !important;

				&:after {
					bottom: -2px;
					left: @bubble-distance * 0.19;
					.transform(rotate(20deg));
				}
			}

			th {
				@dotsize : 8px;

				bottom: -2px;
				top: auto;
				margin-left: 0;
				margin-top: 0;
				min-height: @dotsize;
				max-height: @dotsize;
				min-width: @dotsize;
				max-width: none;
				border-radius: @dotsize / 2 + 1;
			}

			td {
				bottom: @bubble-distance;
				left: 0;
				top: auto;

				// Iffy on support but mostly needed on mobiles, i.e. modern browsers, as per above.
				max-width: 78vw;
				max-height: 60vh;
				max-height: calc(~"80vh - 140px");

				&.offset-right {
					margin-left: -85%;
				}
			}

			.timeline-line {
				min-width: 100%;
				min-height: none;
				height: 50px !important;
				position: absolute;
				left: 0;
				bottom: 5px;
				border-left: 0 none;
				border-bottom: 4px solid @mid-dark;

				.year-mark {
					bottom: 0;
					top: auto !important;
					line-height: 1;

					&:before {
						height: .5em;
						border-left: 4px solid @mid-dark;
						border-top: 0 none;
						width: auto;
						left: 0;
						bottom: -4px;
						top: auto;
					}

					&.last-year-mark {
						bottom: 0;
						right: -1px;
						top: auto;
					}
				}

				.month-mark {
					bottom: .2em;
					left: 0;
					top: auto !important;
					padding-left: .4em;
					padding-top: 0;

					&:before {
						border-left: 3px solid @mid-dark;
						border-top: 0 none;
						left: 0;
						bottom: -4px;
						top: auto;
						width: auto;
						height: 1em;
					}

					&>span {
						.transform(~"none");
						height: auto;
						width: auto;
						position: static;
					}
				}
			}
		}
	}
}

// ##### Wrapper #####
#modal-window .timeline-table-wrapper {
	margin: @common-padding @common-padding * 2/3;
	height: 100%;
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;

	.tl-left, .tl-right {
		display: none;
	}

	@media screen and (min-width: @timeline-breakpoint) {
		overflow: hidden;
		position: absolute;

		.tl-left, .tl-right {
			display: block;
			.opacity(50);
			position: absolute;
			bottom: 20%;
			width: 0;
			height: 0;
			border: 20px solid transparent;
			z-index: 10;

			&:hover, &:active {
				.opacity(100);
			}
		}

		.tl-left {
			left:0;
			border-right-color: @orange;
			border-left-width: 0;
		}

		.tl-right {
			right: 0;
			border-left-color: @orange;
			border-right-width: 0;
		}
	}
}