/* type.less */

/* @font-face rules */
@font-face {
    font-family: 'KGSketch';
    src: url('../fonts/kgsecondchancessketch-wf.eot');
    src: url('../fonts/kgsecondchancessketch-wf.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgsecondchancessketch-wf.woff2') format('woff2'),
         url('../fonts/kgsecondchancessketch-wf.woff') format('woff'),
         url('../fonts/kgsecondchancessketch-wf.ttf') format('truetype'),
         url('../fonts/kgsecondchancessketch-wf.svg#kg_second_chances_sketchRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KGSolid';
    src: url('../fonts/kgsecondchancessolid-wf.eot');
    src: url('../fonts/kgsecondchancessolid-wf.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgsecondchancessolid-wf.woff2') format('woff2'),
         url('../fonts/kgsecondchancessolid-wf.woff') format('woff'),
         url('../fonts/kgsecondchancessolid-wf.ttf') format('truetype'),
         url('../fonts/kgsecondchancessolid-wf.svg#kg_second_chances_solidRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Styles
body {
	line-height: @mobilelineheight;
	font-family: @bodytext;
	font-variant: oldstyle-nums common-ligatures;
	font-size: @body-font-size;
	color: @darkest; 

	@media screen and (min-width: @main-responsive-breakpoint){
		line-height: @lineheight;
	}
}

h1 {
	font-family: KGSketch, 'Lato Bold', 'Arial Black', Impact, Lato, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-variant-caps: titling-caps;
	font-size: 26px;

	strong, em {
		font-family: KGSolid, 'Lato Bold', 'Arial Black', Impact, Lato, Helvetica, sans-serif;
		font-weight: normal;
		font-style: normal;
	}

	@media screen and (min-width: @small-responsive-breakpoint) {
		.small-hide {
			display: inline;
		}
	}

	@media screen and (min-width: @main-responsive-breakpoint) {
		font-size: 33px;
	}
}

h2 {
	font-family: KGSolid, 'Lato Bold', 'Arial Black', Impact, Lato, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.2em;
	color: @dark;
}

h3 {
	font-variant-caps: petite-caps;
	color: @dark;
	font-size: 1.16em;
}
h4, h5 {
	font-weight: bold;
	font-size: 1em;
	color: @dark;
}

h3, h4 {
	border-left: 3px solid @mid-light;
	padding-left: 1ex;
}

a {
	color: @blue;
	text-decoration: none;
	.transition-lazy();

	&:link, &:visited {
		color: @blue;
	}
	&:hover, &:active {
		color: @red;
		border-bottom: 1px dotted @red;
	}
}

// Forms
input[type="text"], input[type="email"], input[type="password"], textarea {
	border: 1px solid @mid-light;
	color: @mid-dark;
	font-family: @bodytext;
	font-variant: oldstyle-nums common-ligatures;
	font-size: @body-font-size * 0.85;
	line-height: @mobilelineheight;
	width: 100%;
	max-width: 600px;

	@media screen and (min-width: @main-responsive-breakpoint) {
		line-height: @lineheight;
	}
}
.button, button, input[type="button"], input[type="submit"], input[type="reset"] {
	line-height: 2.5em;
	font-family: KGSketch, 'Lato Bold', 'Arial Black', Impact, Lato, Helvetica, sans-serif;
	font-size: @body-font-size;
	text-transform: uppercase;
	height: 2.4em;
	padding: 0 2.4em;
	border: 0 none;
	background: @mid-dark;
	color: @modalbg;
	.transition-lazy();
	cursor: pointer;

	&:hover, &:active {
		background: mix(@mid-dark, @blue, 60);
	}
}

// Colour classes
.green {
	color: @green;
}
.blue {
	color: @blue;
}
.yellow {
	color: @yellow;
}
.orange {
	color: @orange;
}
.violet {
	color: @violet;
}
.cyan {
	color: @cyan;
}
.red {
	color: @red;
}
.magenta {
	color: @magenta;
}
.white {
	color: @lightest !important;
}
.black {
	color: @darkest;
}


// Responsivity classes
.small-hide {
	display: none;

	@media screen and (min-width: @main-responsive-breakpoint) {
		display: inline;

		&.block {
			display: block;
		}
		&.inline-block {
			.inlineblock();
		}
	}
}
.timeline-small-hide {
	display: none;

	@media screen and (min-width: @timeline-breakpoint) {
		display: inline;

		&.block {
			display: block;
		}
		&.inline-block {
			.inlineblock();
		}
	}
}