// variables 

// Colours
@darkest  : @base03;
@dark     : @base02;
@mid-dark : @base01;
@mid-light: @base1;
@light    : @base2;
@lightest : @base3;

@modalbg : lighten(@lightest, 5%);

// Solarized:
@base03   : #002b36;
@base02   : #073642;
@base01   : #586e75;
@base00   : #657b83;
@base0    : #839496;
@base1    : #93a1a1;
@base2    : #eee8d5;
@base3    : #fdf6e3;
@yellow   : #b58900;
@orange   : #cb4b16;
@red      : #dc322f;
@magenta  : #d33682;
@violet   : #6c71c4;
@blue     : #268bd2;
@cyan     : #2aa198;
@green    : #859900;


// Text
@lineheight: 1.5;
@mobilelineheight: 1.8;
@body-font-size: 16px;
@bodytext : 'PT Sans', 'Nanum Gothic', NanumGothic, 'DejaVu Sans', 'Arial Narrow', sans-serif;

// Other variables
@headerbar-height: 50px;
@header-spacing: 40px;
@common-padding: 20px;

@main-responsive-breakpoint: 600px;
@small-responsive-breakpoint: 450px;
@timeline-breakpoint: 900px;


// Mixins
.clearfix() {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.opacity(@opacity){
	opacity: @opacity / 100;
	filter: alpha(opacity=@opacity);
}

.transition(@transition){
	-webkit-transition: @transition;
	-moz-transition: @transition;
	transition: @transition;
}

.transition-lazy(){
	.transition(all 0.2s ease-out);
}

.inlineblock(){
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.box-sizing(@sizing){
	-webkit-box-sizing: @sizing;
	-moz-box-sizing: @sizing;
	box-sizing: @sizing;
}

.ellipsis(){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

.css3-columns(@count, @gap, @width) {
	-webkit-column-count: @count;
	-webkit-column-gap: @gap; 
	-webkit-column-width: @width; 
	-moz-column-count: @count;
	-moz-column-gap: @gap; 
	-moz-column-width: @width; 
	column-count: @count;
	column-gap: @gap;
	column-width: @width; 
	
	hyphens: auto;
}

// Shadows 
.box-shadow(@hoffset, @voffset, @blur, @spread, @colour) {
	-moz-box-shadow:    @hoffset @voffset @blur @spread @colour;
	-webkit-box-shadow: @hoffset @voffset @blur @spread @colour;
	box-shadow:         @hoffset @voffset @blur @spread @colour;
}
.lazy-shadow(@colour: rgba(0,0,0,1)) {
	.box-shadow(0, 0, 0.5ex, 0, @colour);
}
.no-shadow(){
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.lazy-textshadow(@colour: rgba(0,0,0,1)) {
	text-shadow: 0 0 0.2ex @colour;
}

.transform(@transform){
	-ms-transform: @transform;
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}